@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}

.custom-shape-divider-bottom-1728014607 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1728014607 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1728014607 .shape-fill {
    fill: #FFFFFF;
}



